<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{css/bootstrap.css}">
    <link rel="stylesheet" th:href="@{css/bootstrap-theme.css}">
    <script th:src="@{js/libs/jquery.js}"></script>
    <script th:src="@{js/libs/bootstrap.js}"></script>
    <title>Error</title>
</head>
<body>
    <th:block th:include="fragments/header :: header"></th:block>

    <h1 class="h1 alert alert-danger">Error</h1>

    <th:block th:include="fragments/footer :: footer"></th:block>
</body>
</html>