<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org/">
<head>
    <th:block th:include="fragments/head :: head"></th:block>
    <script th:src="@{/js/script.js}"></script>
    <title>Home</title>
</head>
<body>

<th:block th:include="fragments/header :: header"></th:block>

<div class="row">
    <div class="col-md-8 offset-2">
        <form method="post" th:action="@{/save}" class="form-group">
            <div class="row">
                <h3 class="h3">Enter your Java code:</h3>
            </div>
            <div class="row">
                <p th:style="'display: ' + (*{error} == null ? 'none' : 'block')" class="alert alert-danger"
                   th:text="*{error}"></p>
                <textarea id="source" name="source" type="text" rows="15" class="mb-2 form-control" style="resize: none"
                          th:text="*{source}"></textarea>
            </div>
            <div class="row">
                <button type="button" class="btn btn-info col-md-2" id="execute">Execute</button>
                <input id="submit" type="submit" class="btn btn-success form-control offset-6 col-md-4"
                       value="Submit source">
            </div>
        </form>

        <div class="row">

            <div id="input">
                <div class="row">
                    <h5 class="h5 mb-2">Input:</h5>
                </div>
                <div class="row">
                    <textarea id="inputBox" style="resize: none;" rows="10" class="mb-2 form-control"></textarea>
                </div>
            </div>

            <div id="result" class="col-6" style="display: none;">
                <div class="row">
                    <h5 class="h5 mb-2">Output:</h5>
                </div>
                <div class="row">
                    <textarea id="resultBox" style="resize: none;" rows="10" disabled="disabled" class="form-control"></textarea>
                </div>
            </div>
        </div>

        <th:block th:include="fragments/footer :: footer"></th:block>
    </div>
</div>

</body>
</html>